@font-face {
  font-family: "Thicccboi";
  src: url("THICCCBOI-SemiBold.ttf") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thicccboi";
  src: url("THICCCBOI-ExtraBold.ttf") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thicccboi";
  src: url("THICCCBOI-Regular.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thicccboi";
  src: url("THICCCBOI-Medium.ttf") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
